<html>
   <head>
      <title>Tool chat xịn</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <link rel="stylesheet" type="text/css" href="css/styles.css">
   </head>
   <body>
      <div class="container">

         <div id="loginFormArea" class=row>
           <h1>CHAP APP DEMO</h1>
            <br />
            <form id="loginForm">
               <label>
               <input placeholder="Username" class="form-control" id="usernameLbl" name="username"></input>
               </label>
               <br />
               <br />
               <label>
               <input type="password" placeholder="Password" class="form-control" id="passwordLbl" name="password"></input>
               </label>
               <br />
               <br />
               <input type="submit" id="loginBtn" class="btn btn-primary" value="Login"/>
               <input type="button" id="signupBtn" class="btn btn-primary" value="Signup"/>
               <br />
               <br />
            </form>
            <textarea name="name" rows="8" cols="80" id="err"></textarea>
         </div>

         <div id="messageArea" class="row">
            <div class="col-md-4">
               <div class="well">
                  <h3>Online Users</h3>
                  <ul class="list-group" id="users"></ul>
               </div>
            </div>
            <div class="col-md-8">
               <form id="messageForm">
                  <div class="form-group">
                     <i><input type="text" id="textname"/></i></br>
                     <label>Enter Message</label>
                     <input type="text" class="form-control" id="message"></input>
                     <br />
                     <input type="button" class="btn btn-primary" value="Delete All" id="deleteLog"/>
                     <input type="submit" id="send" name="send" class="btn btn-primary" value="Send"/>
                     </br>
                     </br>
                  </div>
               </form>
               <div class="chat" id="chat"></div>
            </div>
         </div>

      </div>
      <script src="script\client.js"></script>
   </body>
</html>
